[Desktop Entry]
Version=1.0
Type=Application
Name=AyahDay
GenericName=One Ayah per day for you!
Comment=This app need internet connection before start.
Path=<install path>/
Icon=<install path>/icon.png
Exec=/usr/bin/python <install path>/logic.py
Terminal=false
X-GNOME-Autostart-enabled=true
Categories=Education;X-Religion;X-Islam;
