<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./index/index.css">
  <title>Document</title>
</head>
<body class="has-background-black">
  <section class="section has-text-white-ter">
    <div class="container">
      <div class="has-text-centered box">
        <b id="title" class="title"></b>
      </div>
      <div class="box">
        <div class="block">
          <div id="images" class="image">
            <img id="image-0" class="center" src="../assets/images/AOZOBILLAH.png">
          </div>
        </div>
        <div class="block">
          <div class="columns is-mobile is-centered mt-1">
            <div class="column is-half">
              <div class="center">
                <audio controls autoplay id="audio">
                  <source id="audio-src" src="../assets/audios/AOZOBILLAH.mp3" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="block">
          <div id="texts" class="content has-text-justified is-size-5">
            <p>
              پناه می‌برم به خدا از شر شیطان رانده‌شده
            </p>
         </div>
        </div>
      </div>
    </div>
  </section>
  <script type="module" src="./index/index.js"></script>
</body>
</html>
