@import "../../node_modules/bulma/css/bulma-rtl.css";
@import "../../node_modules/vazir-font/dist/font-face.css";

* {
  font-family: 'vazir';
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.make-small {
  width: 150px !important;
  margin: auto;
  transition: all .5s linear;
}
