@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma-rtl.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/vazir-font/30.1.0/Farsi-Digits/font-face-FD.min.css";

@font-face {
    font-family: 'MeQuran';
    src: url('//cdn.alquran.cloud/public/fonts/me_quran-webfont.otf');
}
@font-face {
    font-family: 'MeQuran2';
    src: url('//cdn.alquran.cloud/public/fonts/me_quran_2.ttf');
}
@font-face {
    font-family: 'NooreHidayah';
    src: url('//cdn.alquran.cloud/public/fonts/noorehidayat.ttf');
}
@font-face {
    font-family: 'Othmani';
    src: url('//cdn.alquran.cloud/public/fonts/ar-Othmani.ttf');
}
@font-face {
    font-family: 'Quran';
    src: url('//cdn.alquran.cloud/public/fonts/QUR_STD.TTF');
}
@font-face {
    font-family: 'Uthmani';
    src: url("//cdn.alquran.cloud/public/fonts/uthman_tn09.otf") format("opentype");
}

.image-min-height {
  min-height: 350px;
}

.translation-min-height {
  min-height: 150px;
}

.vazir {
  font-family: 'Vazir FD';
}

.uthmani {
  font-family: 'Uthmani'
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

audio {
  width: 650px;
}
